name: Publish

on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+(-(dev|alpha|beta).[0-9]+)?' # tag-pattern on pub.dev: 'v{{version}}'

jobs:
  publish:
    permissions:
      id-token: write # Required for authentication using OIDC
    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
    with:
      working-directory: packages/mastodon
